.faq-container{
     padding-bottom: 0%;
    padding-top: 38px;
    background: 100% 100%;
    background-color: #17202a;
    text-align: center;
}

.title{
     padding: 30px 0;
     text-align: center;
}

.Quest-card{
    width: 880px;
    margin: 0 auto 20px;
    padding-left: 38px;
    position: relative;
}

.card{
    background-color: teal;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    transform: translate(0, 0);
    opacity: 1;
}


.card-heading{
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 22px 40px;
    font-family: sans-serif, Neuron Angled;
    font-weight: bold;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     -webkit-transition: color 0.3s ease-in-out;
     transition: color 0.3s ease-in-out;
     color:  white;
}

.card-heading img{
    width: 24px;
    height: 30px;

}


.card-content{
    white-space: normal;
    display: none;
    margin-top: 8px;
    line-height: 125%;
    padding: 0px 40px 32px;
    white-space: pre-wrap;


}

@media(max-width: 1175px){.title{
    padding-top: 30px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    width: calc(100% - 40px);
}}
@media(max-width: 1175px){
    .faq-container{
        width: 100%;
    }
    .Quest-card{
        padding-left: 0;
        width: calc(100%-60px);
    }
    .card{
        width: 100%;
    }
    .card-heading{
        padding: 20px 30px 12px 30px;
    }
    .card-content{
        padding: 0 30px 30px;
    }
}