
.header{
    background-color:#212F3C ;
    width: 100%;
    height: 8vh;
    display: flex;
    position: absolute;
}
.header__setting{
    height: 20px;
    position: fixed;
    left:95%;
    top: 10px;
}
.icon--setting{
    color: white;
}
.icon--back{
    color: white;
    margin-left: 15px;
    margin-top: 12px;
}
p{
    color: white;
    /* margin-left: 15px; */
    margin-top: 17px;
}
.icon--search{
    color: white;
    margin-left: 20px;
    margin-top: 17px;
}