.header{
    background-color:#36366d;
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
}
.header__setting{
    height: 20px;
    position: fixed;
    left:95%;
    top: 10px;
}
.icon--setting{
    color: white;
}
.icon--back{
    color: white;
    margin-left: 15px;
    margin-top: 12px;
}
p{
    color: white;
    /* margin-left: 15px; */
    margin-top: 17px;
}
.icon--search{
    color: white;
    margin-left: 15px;
    margin-top: 17px;
}
    /* .button--back {
        border: none;
        background: #404040;
        color: #ffffff !important;
        font-weight: 100;
        padding: 20px;
        text-transform: uppercase;
        border-radius: 6px;
        display: inline-block;
        transition: all 0.3s ease 0s;
        }
        .button--back:hover {
            color: #404040 ;
            font-weight: 700;
            letter-spacing: 3px;
            background: none;
            -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
            -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
            transition: all 0.3s ease 0s;
            } */